#strapline
  margin-left: 24px

// ******************************************************

// TAXONOMY ARTIST

.artist-work-thumb-holder
  height: 409px

// ******************************************************

// GALLERY

.slick-slide
  margin: 0 $margin-mid
  img
    height: 600px

// ******************************************************

// MAILCHIMP

#mc_embed_signup
  input
    font-size: $font-size-tiny

// ******************************************************
