#strapline
  margin-left: 24px

// ******************************************************

// MAILCHIMP

#mc_embed_signup
  input
    font-size: $font-size-tiny

// ******************************************************
