// TAXONOMY ARTIST

.artist-work-thumb-holder
  height: 509px

// ******************************************************

// GALLERY

.slick-slide
  margin: 0 $margin-mid
  img
    height: 700px

// ******************************************************
