// HEADER

#header
  font-size: $font-size-basic

// ******************************************************

// MAILCHIMP

#mc_embed_signup
  input
    font-size: $font-size-tiny

// ******************************************************
