$header-height = 81px

$footer-height = 161px

// HEADER

#header
  font-size: $font-size-basic

#main-content
  min-height: calc('100vh - ' + ($header-height + $footer-height))

// ******************************************************

// TAXONOMY ARTIST

.artist-work-thumb-holder
  height: 376px

// ******************************************************

// GALLERY

.slick-slide
  margin: 0 $margin-basic
