$footer-logo-size = 21px

$header-height = 44px
$header-transition = 200ms ease-in-out

.border-top-white
  border-top: 1px solid $color-white

// HEADER

#header
  position: fixed
  width: 100vw
  top: 0
  left: 0
  background-color: $color-grey
  font-size: 14px
  z-index: 1000
  &.stuck
    border-bottom: 1px solid $color-white
    #header-logo
      font-size: $footer-logo-size
      margin-bottom: 0
    #strapline
      transform: translateY(-200px)

#strapline
  transition: transform $header-transition

#header-logo
  line-height: 1
  margin-bottom: -2px
  transition: font-size $header-transition, margin-bottom $header-transition

#main-nav
  text-align: center
  li:first-of-type
    margin-right: $margin-small

.language-chooser
  a.qtranxs_text
    text-decoration: underline
  .active
    display: none

#main-content
  margin-top: $header-height

// ******************************************************

// FRONT

.js-hover-item
  display: block

.hover-image
  opacity: 0
  position: fixed
  z-index: -100

  transition: top 20ms linear, left 20ms linear
  &.show
    opacity: .5

// ******************************************************

// GALLERY

#gallery-holder
  width: 100vw
  max-width: 100%
  overflow: hidden

.slider-holder
  height: 0
  pointer-events: none
  overflow: hidden
  &.active
    height: auto
    pointer-events: auto
    overflow: visible

.swiper-container
  overflow: visible

.swiper-slide
  img
    height: auto

.slider-switch
  display: inline-block
  cursor: pointer
  &.active
    cursor: default
    pointer-events: none
    font-style: italic

.slider-buttons
  display: none
  cursor: pointer
  &.active
    display: initial

// ******************************************************

// RELATED

#related-holder
  overflow: scroll

.related-item
  width: 300px

// ******************************************************

// FOOTER

#footer-logo
  line-height: 1
  font-size: $footer-logo-size

.social-icon
  width: 1rem
  margin-right: 12px
  path
    fill: $color-blue
