// GALLERY
#gallery-holder
  width: 100vw
  overflow: hidden

.slider-holder
  height: 0
  pointer-events: none
  overflow: hidden
  &.active
    height: auto
    pointer-events: auto
    overflow: visible

.swiper-container
  overflow: visible

.swiper-slide
  img
    height: auto

.slider-switch
  display: inline-block
  cursor: pointer
  &.active
    cursor: default
    pointer-events: none
    font-style: italic

.slider-buttons
  display: none
  cursor: pointer
  &.active
    display: initial


// RELATED
#related-holder
  overflow: scroll

.related-item
  width: 300px
