$header-height = 44px
$header-transition = 200ms ease-in-out

$footer-height = 198px
$footer-logo-size = 21px

.border-top-white
  border-top: 1px solid $color-white

.background-grey
  background-color: $color-grey

// HEADER

#header
  position: fixed
  width: 100vw
  top: 0
  left: 0
  font-size: 14px
  z-index: 1000
  &.stuck
    background-color: $color-grey
    border-bottom: 1px solid $color-white
    #header-logo
      font-size: $footer-logo-size
    #strapline
      transform: translateY(-200px)

#strapline
  transition: transform $header-transition

#header-logo
  transition: font-size $header-transition, margin-bottom $header-transition

#main-nav
  text-align: center
  li:first-of-type
    margin-right: $margin-small

.language-chooser
  a.qtranxs_text
    text-decoration: underline
  .active
    display: none

#main-content
  margin-top: $header-height
  min-height: calc('100vh - ' + ($header-height + $footer-height))

// ******************************************************

// FRONT

.js-hover-item
  display: block

.hover-image
  opacity: 0
  position: fixed
  z-index: -100
  max-width: 200px
  max-height: 200px
  width: auto
  transition: top 20ms linear, left 20ms linear
  &.show
    opacity: .5

.font-location-bwsmx
  font-family: $font-logo
  font-size: .95rem

.font-location-ruberta
  font-family: $font-ruberta
  font-size: .9rem

// ******************************************************

// GALLERY

#gallery-holder
  width: 100vw
  max-width: 100%
  overflow: hidden

.slick-container
  overflow: visible

.gallery-item
  width: 100%
  display: block
  margin-bottom: $margin-mid
  img
    display: inline-block
    max-width: 450px
    max-height: 450px
    width: auto
    height: auto

.slider-switch
  display: inline-block
  cursor: pointer
  &.active
    cursor: default
    pointer-events: none
    font-style: italic
  &:first-of-type
    margin-right: $margin-small

.slider-buttons
  display: none
  cursor: pointer
  &.active
    display: inline-block

.slider-button
  &:first-of-type
    margin-right: $margin-small
  svg
    height: .8rem
    path
      fill: $color-blue

#slider-controls
  display: none

.slick-current.slick-active
  cursor: zoom-in

#gallery-zoom
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color: rgba(255,255,255,.8)
  position: fixed
  opacity: 0
  transition: opacity 1000ms
  pointer-events: none
  z-index: 1100
  cursor: zoom-out
  &.show
    opacity: 1
    pointer-events: all

#gallery-zoom-image
  max-height: 90vh
  max-width: 90vw

// ******************************************************

// SINGLE EVENT

#event-text-holder
  p
    max-width: 580px

// ******************************************************

// RELATED

#related-holder
  overflow: scroll

.related-item
  width: 300px

// ******************************************************

// INFORMATION

#information-text
  p
    max-width: 410px
    &:last-child
      margin-bottom: .2rem

// ******************************************************

// TAXONOMY ARTIST

.artist-work-thumb-holder
  position: relative
  height: 90vw
  img
    max-height: 100%
    width: auto
    position: absolute
    bottom: 0

// ******************************************************

// FOOTER

#footer
  background-color: $color-grey

#bread
  height: 40px
  path
    fill: $color-blue

.social-icon
  width: 1rem
  margin-right: 12px
  path
    fill: $color-blue

// ******************************************************

// MAILCHIMP

#mc-embedded-subscribe-form
  font-family: $font-sans

  input
    appearance: none
    color: $color-blue
    padding: 3px 4px 2px
    margin-bottom: $margin-tiny
    background-color: $color-white
    border: 1px solid $color-blue

  input[type=submit]
    background-color: transparent
    border: 0
    cursor: pointer

// ******************************************************

// CV

#cv-content-holder
  h3
    font-weight: bold
    font-family: $font-sans
    text-transform: uppercase
    margin: .8rem 0
  h4
    font-weight: 300
    font-family: $font-sans
    margin: .8rem 0 .3rem
  p,
  li
    font-weight: normal
    font-family: $font-serif
    margin-bottom: .3rem
