$header-height = 69px

$footer-height = 145px
$footer-logo-size = 28px

// HEADER

#header
  font-size: $font-size-basic
  &.stuck
    #header-logo
      font-size: $footer-logo-size

#main-nav
  li:first-of-type
    margin-right: $margin-basic

#main-content
  margin-top: $header-height
  min-height: calc('100vh - ' + ($header-height + $footer-height))

// ******************************************************

// GALLERY

.slick-slide
  margin: 0 $margin-small
  img
    max-width: 80vw
    height: 40vw

.slide-caption
  display: none

.slider-controls-caption
  display: block

// ******************************************************

// FOOTER

#social-icons
  text-align: right

.social-icon
  margin-left: 12px
  margin-right: 0

// ******************************************************

// TAXONOMY ARTIST

.artist-work-thumb-holder
  height: 30vw

// ******************************************************

// MAILCHIMP

#mc_embed_signup
  input
    font-size: $font-size-tiny

// ******************************************************
