$header-height = 69px

$footer-height = 145px
$footer-logo-size = 28px

// HEADER

#header
  font-size: $font-size-basic
  &.stuck
    #header-logo
      font-size: $footer-logo-size
      margin-bottom: -1px

#header-logo
  margin-bottom: -4px

#main-nav
  li:first-of-type
    margin-right: $margin-basic

#main-content
  margin-top: $header-height
  min-height: calc('100vh - ' + ($header-height + $footer-height))

// ******************************************************

// GALLERY

.slide-caption
  display: none

.slider-controls-caption
  display: block

// ******************************************************

// FOOTER

#footer-logo
  font-size: $footer-logo-size

#social-icons
  text-align: right

.social-icon
  margin-left: 12px
  margin-right: 0

// ******************************************************

// MAILCHIMP

#mc_embed_signup
  input
    font-size: $font-size-tiny

// ******************************************************
