$footer-logo-size = 28px

// HEADER

#header
  font-size: $font-size-basic
  &.stuck
    #header-logo
      font-size: $footer-logo-size
      margin-bottom: -1px

#header-logo
  margin-bottom: -4px

#main-nav
  li:first-of-type
    margin-right: $margin-basic

// ******************************************************

// FOOTER

#footer-logo
  font-size: $footer-logo-size

// ******************************************************
