$footer-logo-size = 36px

// HEADER

#header
  font-size: $font-size-basic
  &.stuck
    #header-logo
      font-size: 36px
      margin-bottom: -2px

#header-logo
  margin-bottom: -7px

#strapline
  margin-bottom: -1px

#main-nav
  text-align: left
  li:first-of-type
    margin-right: $margin-mid

// ******************************************************

// FOOTER

#footer-logo
  font-size: $footer-logo-size

// ******************************************************
