$header-height = 81px

$footer-height = 157px
$footer-logo-size = 36px

// HEADER

#header
  font-size: $font-size-basic
  &.stuck
    #header-logo
      font-size: 36px
      margin-bottom: -2px

#header-logo
  margin-bottom: -7px

#strapline
  margin-bottom: -1px
  margin-left: $margin-tiny

#main-nav
  text-align: left
  li:first-of-type
    margin-right: $margin-mid

#main-content
  margin-top: $header-height
  min-height: calc('100vh - ' + ($header-height + $footer-height))

// ******************************************************

// TAXONOMY ARTIST

.artist-work-thumb-holder
  height: 309px

// ******************************************************

// GALLERY

.slick-slide
  margin: 0 $margin-basic
  img
    height: 500px

// ******************************************************

// FOOTER

#footer-logo
  font-size: $footer-logo-size

.social-icon
  margin-left: 21px

// ******************************************************

// MAILCHIMP

#mc_embed_signup
  input
    font-size: $font-size-tiny

// ******************************************************
